<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="//fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href='//fonts.googleapis.com/css?family=Muli:300,400,300italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=News+Cycle|Open+Sans:400,300' rel='stylesheet' type='text/css'>